 .btn-blue {
	 background-color: indianred;
	 padding: 15px 20px ;
	 border-radius: 50px;
	 color: white;
	 font-weight: bold;
	 font-family: "Roboto", sans-serif;
}

.btn-blue:hover {
	background-color: darkred;
	color: white;
}